/*PADRÃO*/

.toggle, [id^=drop] {
	display: none;
}

nav {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	display: block;
}

nav label {
	content: "";
}

nav:after {
	content: "";
	display: table;
	clear: both;
}

nav a {
	display: block;
	text-decoration: none;
	text-align: center;
	color: #868685;
	font-weight: bold;
}


/*MENU*/

nav ul {
	padding: 0;
	list-style: none;
	display: block;
	float: none;
}

nav ul li {
	margin: 0 auto;
	float: left;
	text-align: center;
	position: relative;
	transition: 0.3s;
	padding: 1% 2%;
}

nav ul li:hover a.tp{
	color: #fff;
}

nav ul li:hover{
	background: #2f91ce;
}


/*SUBMENU*/

nav ul li ul {
	display: none;
	position: absolute;
	z-index: 99999999;
	left: 0;
	margin-top: 10px;
}

nav ul li:hover>ul {
	display: block;
}

nav ul li ul li {
	width: 300px;
	float: none;
	display: list-item;
	background: #f1f1f1;
	padding: 0;
	border-bottom: 1px solid #dadad9;
	text-align: left;
}

nav ul li ul li:hover {
	background: #dadad9;
	border: none;
	border-bottom: 1px solid #dadad9;
}

nav ul li ul li a {
	color: #868685;
	padding: 10px 20px;
	text-align: left;
}

nav ul li ul li:hover a {
	font-weight: bold;
}

/*MENU TERCEIRO NIVEL*/

nav ul li ul li ul {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999999;
}

nav ul li ul li ul li {
	background: #dadad9;
	text-align: left;
}

nav ul li ul li ul li:hover a {
	font-weight: bold;
}

/*MENU QUARTO NIVEL*/

nav ul li ul li ul li ul {
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 9999999;
}

nav ul li ul li ul li ul {
	background: #dadad9;
	text-align: left;
}

nav ul li ul li ul li:hover a {
	font-weight: bold;
}


@media screen and (max-width: 1300px) {
	nav ul {
		width: 100%;
		position: absolute;
		z-index: 99999999999;
		margin-top: 50px;
	}
	[id^=drop]:checked+ul {
		display: block;
	}
	.barras {
		float: left;
		margin-left: 20px;
		cursor: pointer;
	}
	.barras:hover {
		background: none
	}
	.barras i {
		font-size: 30px;
		color: #868685;
		float: left;
		left: 0;
		margin-left: 5%;
	}

	.toggle+a, .menu_resp {
		display: none;
	}
	.toggle {
		display: block;
		color: #999;
		text-decoration: none;
		border: none;
	}
	.toggle a:hover {
		color: #868685;
	}
	label.submenu {
		margin: 0;
		padding: 0;
	}
	;
	/*MENU*/
	nav {
		margin: 15px 0;
		border-radius: 0;
	}
	nav a {
		padding: 14px 20px;
		color: #868685;
	}
	nav ul li {
		display: block;
		background: #fff;
		width: 100%;
		border-radius: 0;
		padding: 0;
		border-bottom: 1px solid #868685;
		text-align: left;
	}

	/*SUBMENU*/
	nav ul li ul {
		position: relative;
		width: 100%;
		left: 0;
		top: 0;
		margin: 0 auto;
	}
	nav ul li ul li {
		width: 100%;
		display: block;
	}
	nav ul li ul li .toggle {
		background-color: #d1d1d1;
	}

	nav ul li ul li:hover {
		background: #CCC;
	}

	nav ul li ul li:hover .toggle {
		background: #CCC;
	}
	/*MENU TERCEIRO NIVEL*/
	nav ul li ul li ul {
		position: relative;
		width: 100%;
		left: 0;
	}
	nav ul li ul li ul li {
		background: #77787B;
	}
	nav ul li ul li ul li a {
		color: #FFF;
	}
	nav ul li ul li ul li:hover a {
		background-color: #868685;
		color: #FFF;
	}
	nav ul ul li:hover>ul, nav ul li:hover>ul {
		display: none;
	}
}

@media all and (max-width: 550px) {
	.barras {
		margin-top: -50px;
	}
}

@media all and (max-width: 330px) {
	nav ul li {
		display: block;
		width: 100%;
	}
}